body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('         imgs/3d-grunge-interior-with-old-wooden-floor.jpg         '); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: lightgray; 
    font-family: Arial, sans-serif;
}

header {
    background-color: bisque;
    color: black;
    padding: 20px;
    text-align: center;
}

.nav{
    font-family: Arial, sans-serif;

    
}

nav a {
    text-decoration: none;
    color: #333; /* Link color */
    margin-right: 10px; /* Adjust spacing between links */
    display: inline-block;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #f0f0f0; /* Background color on hover */
    border-radius: 5px; /* Rounded corners on hover */
    color:violet; /* Text color on hover */
    transform: scale(1.05);
}

a img {
    display: block;
    margin: 30px auto;
    
}

footer {
    background-color: bisque;
    color: black;
    padding: 20px;
    text-align: center;
}

.social-icons a {
    color: blueviolet;
    text-decoration: none;
    margin-right: 10px;
}



.social-icons a:hover {
    color: blue; /* change color on hover */
}

/* Booking Page  */


 h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
} 

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="service"],
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: scale(1.05);
}

input[type="submit"]:focus {
    outline: none;
}

Styles for Required Fields
input:required {
    border-color:bisque;
}

input:required:focus {
    border-color: bisque;
} 


#map {
    text-align: center;
    margin-top: 20px;
}

#map h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#map a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#map a:hover {
    background-color: #0056b3;
}

/* About Page */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

strong {
    font-weight: bold;
}
.Our-Story,
.mission-images,
.goal-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: bisque;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: bisque;
}

img:hover {
    transform: scale(1.05);
}


/* 
Services page */

.service {
    margin-bottom: 40px;
}

.service h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.service a:hover {
    transform: scale(1.05);
}

/* Home Page */

section.hero {
    text-align: center;
    padding: 50px 0;
    /* background-color: #f9f9f9; */
}

section.hero h2 {
    margin-bottom: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.hero p {
    margin-bottom: 30px;
}

section.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

section.hero a:hover {
    background-color: #0056b3;
}

section.gallery {
    margin-top: 50px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container img {
    width: 40%;
    margin-bottom: 20px;
}

/* login page */


/* Form container styles */
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 50px;
}

/* Form header styles */
.form-container h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

/* Input field styles */
.input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Submit button styles */
.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Button hover effect */
.submit-btn:hover {
    background-color: #0056b3;
}

/* Link styles */
.form-container p {
    text-align: center;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* card images */
/* 
:root {
    --background: #3C343D;
    --background-card: #6B626C;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* .background {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
} */

.gallery {
    display: flex;
    left: calc(100% - 50rem);
    width: 400%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.card {
    position: relative;
    left: 0;
    width: 10.5rem;
    height:  10.5rem;
    /* background-color: var(--background-card); */
    border-radius: 0.5rem;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
    margin-left: -3rem;
}

.card:hover {
    transform: translateY(-1rem);
    font-weight: bold;
    cursor: pointer;
}

.card:hover ~ .card {
    left: 3.5rem;
}

.card img {
    height: 10rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

/* registration page */


h2 {
    text-align: center;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.login-link {
    text-align: center;
}
.login-link a {
    text-decoration: none;
    color: #007bff;
}

/* login page */

form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register {
    margin-top: 20px;
  }
  
  .register a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register a:hover {
    text-decoration: underline;
  }

  /* pricing */

.pricing-section {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  .pricing-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 200px;
  }
  
  .pricing-card h3 {
    color: #333;
  }
  
  .pricing-card p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .pricing-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pricing-card ul li {
    margin-bottom: 10px;
  }
  
  .btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border-radius: 50px;
  }
  .pricing-card {
    width: 300px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
   
  
  }
  
  .pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   
  }
  
  /* NOTE */
  .note {
    background-color: #f0f0f0; /* Light grey background */
    border-left: 5px solid #3498db; /* Blue left border */
    padding: 10px; /* Padding around the content */
    margin-bottom: 20px; /* Margin to separate notes */
  }
  
  /* Style for the note text */
  .note p {
    margin: 0; /* Remove default paragraph margin */
  }
  /* Calculator */
  
  .calculator {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.calculator input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.calculator button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #ddd;
}

/* login 2 */
:root {
    --primary: #000000;
    --primary-light: #22211F;
    --primary-disabled: #363435;
    --primary-lighter: #454344;
    --secondary: #1D1D1D;
    --text: #11181C;
    --text-gray: #687076;
    --text-placeholder: #8890A7;
    --border: #DFE3E6;
    --btn-bg: #EDEDED;
    --input-bg: #F1F2F3;
    --background: #F8F8FF;
    --error: #e5484d;
}

html {
    height: 100%;
}

/* body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding: 1rem;
    display: grid;
    place-items: center;
    background: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

*::selection {
    background: var(--primary-light);
    color: white;
}

.socials-row {
    display: flex;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 2.75rem;
    display: flex;
    gap: 0.75rem;
    color: var(--text);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 0.5rem;
    border: 1px solid var(--border);
    transition: all .3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.socials-row>a svg {
    color: var(--text)
}

.socials-row>a:hover {
    background-color: var(--btn-bg);
}

.form-welcome-row {
    margin-bottom: 1rem;
}

.form-welcome-row h1 {
    color: var(--text);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.form-welcome-row h2 {
    color: var(--text-gray);
    font-size: 1.10rem;
    font-weight: normal;
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background: var(--secondary);
    opacity: .2;
}

.form-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    max-height: 200rem;
    height: 100%;
    width: 100%;
}

.form-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.logo {
    height: 4rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1.25rem;
    max-width: 26rem;
    width: 100%;
}

.my-form__button {
    background: var(--primary);
    border: 1px solid var(--primary-light);
    color: white;
    white-space: nowrap;
    display: grid;
    place-items: center;
    margin-top: 1.5rem;
    line-height: 2.75rem;
    outline: none;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all .3s ease;
}

.my-form:invalid .my-form__button {
    pointer-events: none;
    background: var(--primary-disabled);
    border: 1px solid var(--primary-light);
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: var(--text);
}

.my-form__actions a:hover {
    color: var(--text-gray);
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-field input {
    color: var(--secondary);
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--border);
    min-height: 3rem;
    letter-spacing: .03rem;
    outline: none;
    background: var(--input-bg);
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
}

.text-field label {
    color: var(--text);
}

.text-field input:user-invalid {
    background: var(--white);
    color: var(--error);
    border: 1px solid var(--error);
}

.error-message {
    display: none;
}

.text-field input:user-invalid~.error-message {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: var(--error);
}

.text-field input:focus {
    border: 1px solid var(--text);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

/* aside */
.info-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    background: url('assets/background.jpg') repeat center center;
    background-position: cover;
    max-height: 90rem;
}

.info-side .blockquote-wrapper {
    gap: 1rem;
    position: relative;
    padding: 1rem;
    max-width: 25rem;
    background: white;
    border-radius: 1rem;
}

.info-side .blockquote-wrapper img {
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.info-side .blockquote-wrapper blockquote {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
}

.info-side .author {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

.info-side .author img {
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
}

.info-side .author-name {
    font-weight: 600;
    color: var(--text);
}

@media (max-width: 720px) {
    .form-wrapper {
        grid-template-columns: 1fr;
    }

    .info-side {
        display: none;
    }
}

/* registration 2 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, 
        sans-serif;
}

.socials-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 0.5rem;
    border: 1px solid var(
        --primary-light);
    font-weight: 700;
}

.socials-row>a:hover {
    border: 1px solid var(--primary);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background: var(--secondary);
    opacity: .2;
}

.form-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 0 auto;
}


.form-side {
    padding: 9.25rem 3rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.info-side {
    height: 100vh;
    padding: 9.25rem 3rem 3rem 2rem;
    color: #401B3D;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    background: var(--background);
}

.info-side h2 {
    margin-top: 3rem;
    color: var(--text);
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.info-side p {
    font-size: 1.2rem;
}

.info-side img {
    max-width: 53.75rem;
}

.welcome-message {
    max-width: 22.5rem;
}

.logo {
    height: 3rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    max-width: 28.75rem;
    width: 100%;
    padding: 3rem 2rem;
    height: fit-content;
    box-shadow:
        rgba(100, 100, 111, 0.2) 
        0px 7px 29px 0px;
}

.form-welcome {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.form-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.my-form__button {
    background: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.125rem;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 3rem;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.5rem;
    margin-top: 0.25rem;
}

.text-field label:focus-within {
    color: var(--primary);
}

.text-field {
    position: relative;
}

.text-field svg {
    position: absolute;
    right: -0.125rem;
    bottom: -0.25rem;
    width: 1.875rem;
    height: 1.875rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}


.text-field input:focus+svg {
    stroke: var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

@media (max-width: 640px) {
    .form-wrapper {
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .info-side {
        flex-direction: column-reverse;
        padding: 3rem 3rem 3rem 2rem;
    }
}